<?xml version="1.0" encoding="utf-8" ?>

<container xmlns="http://symfony.com/schema/dic/services" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <service id="bitbag.sylius_elasticsearch_plugin.context.taxon" class="BitBag\SyliusElasticsearchPlugin\Context\TaxonContext">
            <argument type="service" id="request_stack" />
            <argument type="service" id="sylius.repository.taxon" />
            <argument type="service" id="sylius.context.locale" />
        </service>

        <service id="bitbag.sylius_elasticsearch_plugin.context.product_options" class="BitBag\SyliusElasticsearchPlugin\Context\ProductOptionsContext">
            <argument type="service" id="bitbag.sylius_elasticsearch_plugin.context.taxon" />
            <argument type="service" id="bitbag_sylius_elasticsearch_plugin.finder.product_options" />
        </service>

        <service id="bitbag.sylius_elasticsearch_plugin.context.product_attributes" class="BitBag\SyliusElasticsearchPlugin\Context\ProductAttributesContext">
            <argument type="service" id="bitbag.sylius_elasticsearch_plugin.context.taxon" />
            <argument type="service" id="bitbag_sylius_elasticsearch_plugin.finder.product_attributes" />
        </service>
    </services>
</container>
