<form method="get" class="ui loadable form">
    <div class="item">
        {{ form_row(form.options) }}
    </div>
    <div class="item">
        {{ form_row(form.attributes) }}
    </div>
    <div class="item">
        {{ form_row(form.price) }}
    </div>
    <div class="item">
        <button type="submit" class="ui primary icon labeled button" style="width: 100%;"><i class="search icon"></i> {{ 'bitbag_sylius_elasticsearch_plugin.ui.filter'|trans }}</button>
    </div>
</form>
