<div class="bitbag-sylius-elasticsearch-plugin-facets-form">
    {% for facet in form.facets %}
        <div class="item">
            {{ form_label(facet) }}
            {{ form_widget(facet) }}
        </div>
    {% endfor %}
</div>
<div class="item">
    {{ form_row(form.price) }}
</div>
<div class="item">
    <button type="submit" class="ui primary icon labeled button" style="width: 100%;"><i class="search icon"></i> {{ 'bitbag_sylius_elasticsearch_plugin.ui.filter'|trans }}</button>
</div>
