{% set route = app.request.attributes.get('_route') %}
{% set route_parameters = app.request.attributes.get('_route_params') %}
{% set slug = app.request.get('slug') %}

<a href="{{ path(route, {'slug': slug, 'order_by': 'product_created_at', 'sort': 'desc'}) }}">Cheapest</a>
