<div class="searchdiv" data-bb-elastic-url="{{ url('bitbag_sylius_elasticsearch_plugin_shop_auto_complete_product_name') }}">
    <div class="ui fluid category search">
        <div class="ui icon input" style="width: 100%;">

            {% form_theme form '@BitBagSyliusElasticsearchPlugin/Shop/Menu/_searchFormTheme.html.twig' %}
            {{ form_start(form, {'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate', 'action': path('bitbag_sylius_elasticsearch_plugin_shop_search')}}) }}
            {{ form_row(form.box) }}
            {{ form_end(form, {'render_rest': false}) }}

        </div>
    </div>
    <div class="results"></div>
</div>
