{% extends '@SyliusShop/Form/theme.html.twig' %}

{% block _search_box_query_label %}{% endblock %}

{% block _search_box_query_widget %}
    <div class="ui action input">
        {{- form_widget(form, {'attr': {'placeholder': 'bitbag_sylius_elasticsearch_plugin.ui.search_box.query.placeholder'|trans}}) -}}
        <button type="submit" id="search_box_search" class="ui button">{{ 'bitbag_sylius_elasticsearch_plugin.ui.search_box.search_button.label'|trans }}</button>
    </div>
{% endblock %}
