{% set form = hookable_metadata.context.search_form %}

{% form_theme form '@SyliusShop/form/theme.html.twig' %}

<div class="container-xl">
    {{ form_start(form, {'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate', 'id': form.vars.id}}) }}

        {{ form_row(form.query, {'attr': {'style': 'display: none'}}) }}

        {% if form.facets is defined %}
            <div class="bitbag-sylius-elasticsearch-plugin-facets-form">
                {% for facet in form.facets %}
                    {{ form_row(facet) }}
                {% endfor %}
            </div>
        {% endif %}

    {{ form_end(form, {render_rest: false}) }}
</div>
